{% extends 'base.html.twig' %}

{% block title_container %}Page de connexion{% endblock %}

{% block page_name %}Connexion{% endblock %}

{% block inner_container %}
  <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Connectez-vous a votre compte</h5>
                    <p class="text-center small">Entrez votre identifiant et votre mot de passe.</p>
                  </div>
                  <form class="row g-3 needs-validation" method="post" class='needs-validation' novalidate>
                    {% if error %}    
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Adresse email</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="login" value="{{ last_username }}" class="form-control" id="yourUsername" required class="form-control">
                        <div class="invalid-feedback">Entrez votre identifiant!</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Mot de passe</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required class="form-control">
                      <div class="invalid-feedback">Entrez votre mot de passe!</div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Souvenir de moi</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-warning w-100" type="submit">Soumettre</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Vous n'avez de compte? <a href="{{path('app_register')}}">Creez un compte.</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}