{% extends 'backend.html.twig' %}

{% block title_container %}Livraisons{% endblock %}

{% block page_name %}Livraisons{% endblock %}

{% block inner_container %}
    <div class="col-12">
              <div class="card recent-sales">
                <div class="card-body">
                  <h5 class="card-title">Livraisons <span>| Gérer les livraisons</span></h5>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Clients</th>
                        <th scope="col">Commandes</th>
                        <th scope="col">Livreur</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{% endblock %}